html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#container {
	min-height: 100%;
	position: relative;
}
/* html,body{width: 100%;} */
body {
	font-family: 'Microsoft Yahei';
	font-family: 12px;
	color: #494848;
	background: #f2f2f2;
	min-width: 1000px;
	overflow-x: hidden;
}

a {
	color: #666;
	cursor: pointer;
}

a:hover {
	color: #e4393c;
	text-decoration: none;
}

.wrap {
	width: 1000px;
	margin: 0 auto;
}

.header {
	position: relative;
	z-index: 300;
	height: 89px;
	border-bottom: 1px solid #dfdfdf;
}

.logo {
	margin-top: 20px;
}

.logo img {
	width: 222px;
}

.menu {
	margin-top: 40px;
	margin-left: 25px;
	float: right;
	margin-right: -19px;
}

.menu li {
	float: left;
	padding: 0 19px;
	text-align: center;
	font-size: 16px;
	position: relative;
}

.menu li a {
	display: block;
	color: #41585e;
	text-decoration: none;
}

.menu li.on a, .menu li a:hover {
	color: #bea06e;
	text-decoration: underline;
	text-decoration: none;
}

.banner {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.banDiv {
	height: 350px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}

.banDiv .wrap {
	padding-top: 85px;
	color: #fff;
	width: 630px;
}

.ban_name {
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 15px;
}

.ban_name span {
	font-size: 18px;
}

.ban_infor {
	text-indent: 2em;
	line-height: 24px;
	font-size: 14px;
	text-align: left;
}

#banNav, .dNav {
	text-align: center;
	padding: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 13px;
	z-index: 50;
}

#banNav span, .dNav span {
	text-decoration: none;
	font-size: 0;
	margin: 0 4px;
	background: none;
	transition: all 0.4s ease-in-out 0s;
	cursor: pointer;
	display: inline-block;
	width: 6px;
	height: 6px;
	border: 2px solid #c5c5c4;
	border-radius: 50%;
}

#banNav span.activeSlide, .dNav span.activeSlide {
	background: #f2f2f2;
	border-color: #f2f2f2;
}

.dePic {
	position: relative;
	width: 709px;
	height: 402px;
	overflow: hidden;
}

.dNav {
	text-align: left;
	left: 24px;
	bottom: 13px;
}

.book-line {
	height: 36px;
	line-height: 36px;
	background: #42585e;
	margin: 2px 0;
	padding: 20px 0;
	color: #fff;
	font-size: 14px;
}

.book-line strong {
	font-size: 14px;
	font-weight: normal;
}

.book-line .line {
	width: 2px;
	height: 36px;
	background: #9ba7aa;
	margin: 0 12px;
}

.bs {
	width: 78px;
}

.book-line input[type=text] {
	border: 1px solid #fff;
	background: url(../../images/web/date.png) no-repeat 102px center;
	padding-left: 10px;
	width: 148px;
	color: #fff;
	font-size: 14px;
	display: block;
	height: 36px;
	line-height: 36px;
	margin-right: 20px;
}

.bDown {
	border: 1px solid #fff;
	padding: 0 10px;
	width: 129px;
	position: relative;
}

.bDown em {
	display: block;
	color: #fff;
	background: url(../images/web/d.png) no-repeat right center;
}

.bDown ul {
	position: absolute;
	left: -1px;
	top: 36px;
	right: -1px;
	border: 1px solid #fff;
	z-index: 100;
	background: #42585e;
	display: none;
}

.bDown ul li {
	padding-left: 10px;
}

.bDown ul li:hover {
	background: #bea06e;
}

.book-btn {
	border: 1px solid #fff;
	width: 135px;
	text-align: center;
	background: none;
	color: #fff;
	font-size: 16px;
	line-height: 34px;
	font-family: 'Microsoft Yahei';
	float: right;
	cursor: pointer;
}

.book-btn:hover {
	background: #bea06e;
	color: #fff;
	border-color: #bea06e;
}

.mpic img {
	display: block;
	width: 100%;
}

.mabout {
	padding: 38px 0 0;
}

.mabout h1 {
	color: #42585e;
	font-size: 24px;
	font-weight: normal;
	padding-bottom: 10px;
}

.ma_a {
	width: 804px;
	margin: 0 auto;
	text-indent: 0em;
	font-size: 14px;
	color: #42585e;
	line-height: 25px;
}

.ma_pic {
	margin-top: 45px;
}

.ma_pic li {
	float: left;
	height: 444px;
	overflow: hidden;
}

.ma_pic li .item {
	position: relative;
	display: block;
}

.ma_pic li .item .bg {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url(../../images/web/g1.png);
	z-index: 2;
}

.ma_pic li .item:hover .bg {
	background-image: url(../../images/web/g2.png);
}

.ma_pic li .item .text {
	color: #fff;
	left: 0;
	position: absolute;
	font-size: 18px;
	line-height: 22px;
	z-index: 3;
	text-align: center;
	top: 50%;
	margin-top: -24px;
	width: 100%;
}

.ma_pic li .item .text span {
	font-size: 12px;
}

.ma_pic li.ma1 {
	width: 274px;
}

.ma_pic li.ma2 {
	margin: 0 2px;
	width: 340px;
}

.ma_pic li.ma2 a, .ma_pic li.ma3 a {
	margin-bottom: 1px;
}

.mb_lx p {
	font-size: 14px;
	color: #42585e;
	line-height: 22px;
	border-right: 1px solid #42585e;
	padding-right: 32px;
	text-align: right;
	padding-top: 12px;
}

.wlist {
	background: #fff;
	margin-bottom: -2px;
}

.wlist ul {
	margin: 0 -1px;
}

.wlist li {
	float: left;
	width: 33.3333%;
	margin-bottom: 2px;
}

.wlist li .w_item {
	margin: 0 1px;
	position: relative;
}

.wlist li img {
	display: block;
	width: 100%;
}

.wlist li .w_txt {
	position: absolute;
	left: 0;
	bottom: 45px;
	background: url(../../images/web/g1.png);
	padding: 10px 25px 10px 35px;
	z-index: 2;
	color: #fff;
	width: 325px;
}

.wlist li .w_txt:hover {
	background-image: url(../../images/web/g2.png);
}

.wlist li .w_txt h3 {
	font-weight: normal;
	font-size: 24px;
}

.wlist li .w_txt p {
	font-size: 13px;
	color: #ccc;
	padding: 10px 0 12px 0;
}

.wlist li .w_txt a {
	width: 132px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #7f6e52;
	color: #fff;
	display: block;
	font-size: 14px;
}

.wlist li .w_txt a:hover {
	background: #bea06e;
}

.t_txt {
	position: absolute;
	left: 0;
	text-align: center;
	top: 0;
	font-size: 22px;
	color: #998b75;
	line-height: 35px;
	height: 238px;
	top: 50%;
	margin-top: -119px;
	right: 0;
}

.t_txt p {
	padding: 7px 0;
}

.lBan, .lBan .banDiv {
	height: 233px;
}

.footer {
	background: #f2f2f2;
}

.footer-2 {
	background: #f2f2f2;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: -164px;
}

.footer-3 {
	background: #f2f2f2;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.bdsharebuttonbox {
	padding-top: 350px;
	bottom: 0;
	width: 100%;
}

.foot_a {
	padding: 20px 0;
}

.foot_a span.left img {
	width: 222px;
}

.foot_a span.left {
	margin-top: 50px;
}

.mb_lx img {
	width: 132px;
}

.foot_b {
	background: #42585e;
	color: #fff;
	line-height: 24px;
}

.deright {
	width: 709px;
}

.deleft {
	width: 486px;
	font-size: 14px;
	color: #666;
}

.de_tag {
	color: #42585e;
	padding: 12px 0;
}

.de_tag a {
	color: #42585e;
}

.de_tag a:hover {
	color: #bea06e;
	text-decoration: underline;
}

.detail {
	position: relative;
	padding-bottom: 170px;
}

.deright {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
}

.deright img {
	display: block;
	width: 100%;
}

.deShow {
	width: 100%;
}

.deShow div {
	width: 100%;
}

.dTit {
	font-size: 14px;
	font-weight: normal;
	color: #000;
	margin-bottom: 12px;
}

.de_cont {
	line-height: 25px;
}

.biaoti {
	color: white;
	line-height: 25px;
	font-size: 15px;
}

.biaoti:hover {
	color: white;
}

.bg11 {
	position: absolute;
	top: 0;
	right: 0;
	width: 89px;
	height: 80px;
	background: url(../../images/web/bg11.png) right 0 no-repeat;
}
/* 自适应*/
/*大于768px*/
@media ( min-width : 769px) {
	.col-md-3 {
		width: calc(33.3333333%);
	}
}
/*小于768px*/
@media ( max-width : 768px) {
	.col-sm-5 {
		width: calc(50%);
	}
}